/*
Author: FreedomScientific.com
*/

/*---------Skip Navigation link------------*/

#skip 
{ 
   position:absolute;
   width: 150px;
   left: 380px;
    margin-top: 45px;
	padding-top: 0px;
	font: bold 1.0em/1.2em Verdana, Tahoma, Arial;
	color:#FFFFFF;
	z-index: 105;
	}

/*---BACKUP #skip 
{ 
   position:absolute;
   width: 150px;
   left: 620px;
    margin-right: 70px;
	padding-top: 5px;
	font: bold 1.0em/1.2em Verdana, Tahoma, Arial;
	color:#FFFFFF;
	} ---*/
#skip a, #skip a:hover, #skip a:visited  #skip a:active { color:#FFFFFF;} 

/* ---------->>> GLOBAL <<<-----------*/

* {padding: 0; margin: 0;}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font: normal 12px Arial, Verdana, Helvetica, sans-serif;
	color: #000000;
	scrollbar-base-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-face-color: #00008C;
	scrollbar-track-color: #E3ECF7;
	}
p, li {font: 1.2em/1.2em Arial, Verdana, Tahoma;}

	
.hidden	{
	position:absolute;
 	left:0px;
 	top:0px;
 	width:1px;
 	height:1px;
 	overflow:hidden;
 	}

#container {
	width: 775px; padding: 0; margin: 0; }

a, .footb a:link { color:#333366; font-weight: bold;}
a:visited, a:active, .footb a:visited, .footb a:active {color:#003399;}
a:hover {text-decoration:underline; color:#000099;}
#navbar a:active, #navbar a:visited, .textsize a:active, .textsize a:visited {color: white;}


/* ---------->>> HEADER <<<-----------*/
#header {
	position: relative;
	top: 0;
	width: 775px;
	height: 70px;
	background: #000000 url(/images/header-bg2.jpg) no-repeat;
	text-align: center;
	margin: 0 auto;
	}
/*------BACKUP HEADER-----
	#header {
	position: relative;
	top: 0;
	width: 775px;
	height: 109px;
	background: #000000 url(/images/header-bg.jpg) no-repeat;
	text-align: center;
	margin: 0 auto;
	}
	-----*/
#header-lvs {
	position: relative;
	width: 775px;
	height: 186px;
	top: 0px;

	background: transparent url(/images/header-lvs.jpg) no-repeat;
	color: #ffffff;
	}

#navbar {
	position: relative;
	top: 0;
	width: 775px;
	height: 45px;
	font: 1.4em/1.2em Arial, Helvetica, sans-serif;
	background: #000000;
	color: #ffffff;
	}
.navp {padding-top: 10px; text-align:center; font: 1.1em/1.2em Arial, Verdana, Tahoma;}


#banner {
	position: relative;
	width: 775px;
	height: 184px; 
	background: transparent url(/images/bg-blue.jpg) repeat-x;
}
#banner h1 {padding-top: 10px; padding-left: 10px; color:#FFFFFF;}

.search {
	margin-left: 555px;
	padding-top: 40px;
	
	font: bold 1.0em/1.2em Verdana, Tahoma, Arial;
	color:#FFFFFF;
	}
.searchbox {
	font: bold 1.0/1.2em Verdana, Tahoma, Arial;
	width: 120px;}
div.textsize { 
	position: absolute;
	top: 0;
	left: 570px;
	padding-top: 7px; }

div.textsize a {
	font: .9em/1.1em Verdana, Tahoma, Arial;
	color:#ffff00;
	font-weight: bold; text-align: left;}
/*------BACKUP
div.textsize { padding-top: 7px; }
div.textsize a {
	margin-left: 570px;
	padding-top: 5px;
	font: .9em/1.1em Verdana, Tahoma, Arial;
	color:#ffff00;
	font-weight: bold; text-align: left;}----*/
	
/*-----------Large banner and flash------------*/

.ban1 {
	font: 14px/1.2em Verdana, Tahoma, Arial;
	margin: 0;
	padding-left: 20px;
	color: #ffffff;
	/*background-color: #680000;*/
	width: 370px;
	}
.ban1 a:link, .ban1 a:visited, .ban1 a:active, .toplink a, #navbar a { font-weight:bold; text-decoration: none; color: #FFFFFF;}
.ban1 a:hover, .toplink a:hover, #navbar a:hover {text-decoration: underline; color:#FFFFFF;}

.flash {
	position: relative;
	width: 309px;
	height: 186px;
	top: 0px;
	right: 0;
	float: right;
	z-index:105;}
.flash2 {
	position: relative;
	width: 600px;
	height: 400px;
	top: 0px;
	right: 0;
	float: left;
	z-index:105;}
.flash3 {
	position: relative;
	width: 320px;
	height: 186px;
	top: 0px;
	right: 0;
	float: right;
	z-index:105;}

.toplink {
	margin-left: 590px;
	font: bold 14px/1.2em Verdana, Tahoma, Arial;
	color:#FFFFFF;
	}
#events {
	position:relative;
	padding: 0;
	margin: 0;
	background: transparent url(/images/event-banner.jpg) no-repeat;
	width: 775px;
	height: 58px;
	}
#events h1 {font: 1.6em Arial, Helvetica, sans-serif; text-align: center; padding: 10px; color: black;}

#portal {
	position:relative;
	background: transparent url(/images/welcome2.jpg) no-repeat;
	width: 628px;
	height: 302px;
	text-align: center;
	margin: 0 auto;
	padding-top: 0px;
	}
/*-----BACKUP #portal {
	position:relative;
	background: transparent url(/images/welcome.gif) no-repeat;
	width: 672px;
	height: 347px;
	text-align: center;
	margin: 0 auto;
	padding-top: 70px;
	}----*/
#mission {
	margin: 0 auto;
	padding-top: 60px;
	width: 450px;
	height: 100px;
	font: bold 1.2em/1.2em Arial, Helvetica, sans-serif;
	color: #2a559d;
	}
#portal a:link, #portal a:active, #events a:link, #events a:active,#prodgroup a, #news a {font-weight: bold; text-decoration:none; color: #000099;}
#portal a:visited, #events a:visited, #prodgroup a:visited, #news a:visited { font-weight: bold; text-decoration:none; color: #203f7a;}
#portal a:hover, #events a:hover, #prodgroup a:hover, #news a:hover{text-decoration:underline; text-shadow: #cccccc;}



.b1 {
	position: absolute;
	width: 100px;
	top: 185px;
	left: 85px;
	font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}
.b2 {
	position: absolute;
	width: 100px;
	top: 185px;
	left: 280px;
	font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}
.b3{
	position: absolute;
	width: 100px;
	top: 170px;
	left: 465px;
	font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}

/* ---------->>> Home Page Quick Links <<<-----------*/

#product1 {
	position: relative;
	left: 20px;
	top: 10px;
	width: 360px;
	height: 310px;
	float: left;
	
	padding: 0 0 10px 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}

	
#product2 {
	position: relative;
	left: 20px;
	top: 10px;
	width: 360px;
	height: 310px;
	float:right;
	
	padding: 0 0 10px 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}
	
#prodgroup {
	position: relative;
	left: 10px;
	top: 10px;
	width: 480px;
	height: 271px;
	float: left;
	padding: 0;
	margin: 0;
		background: #ffffff url(/images/quick-links.gif) no-repeat;
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	}
	
.pg-tl {
	position:relative;
	top: 55px;
	left: 10px;
	width: 180px;
	height: 100px;
	padding: 10px 0 0 10px;
	font: bold 1.1em/1.2em Arial, Helvetica, sans-serif;
	float: left;
	text-align: left;
	/*border-right: solid 2px #cfd0ec;
	border-bottom: solid 2px #cfd0ec;*/
}

.pg-tr {
	position:absolute;
	top: 0px;
	left: 190px;
	margin: 0 10px 0 30px;
	width: 200px;
	height: 120px;
	text-align: center;
	padding-left: 15px;
	padding-top: 20px;
	font: 1.0em/1.6em Arial, Helvetica, sans-serif;
	/*border-bottom: solid 2px #cfd0ec;*/
	}
 .pg-bl li {margin-left: 15px; }

.pg-br {
	position:absolute;
	top:140px;
	left: 245px;
	width: 230px;
	height: 100px;
	clear: left;
	
	}
.pg-br h2, .pg-tr h2 {font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}
.pg-lsg {margin-left: 10px; text-align: left;}


	
#news {
	position: relative;
	left: 3px;
	top: 10px;
	width: 285px;
	height: 271px;
	float: right;
	padding: 0;
	margin: 0;
		background: #ffffff url(/images/news.gif) no-repeat;
	font: 1.0em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}
#news h2 {padding-top: 20px; margin: 0;font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}
#news ul {text-align: left; width: 240px; padding: 0 0 0 20px; margin-left: 20px; }
#news li {padding-bottom: 5px;}
.buynow {padding-left: 20px;}	
	
/*------Blindness Portal Page----*/
#prodgroup2 {
	position: relative;
	left: 10px;
	top: 10px;
	width: 750px;
	height: 300px;
	float: left;
	padding: 0;
	margin: 0 auto;
		background: #ffffff url(/images/links-bg.jpg) no-repeat;
	font: 1.0em/1.2em Arial, Helvetica, sans-serif;
	}
.pg-tl2 {
	position:relative;
	top: 5px;
	left: 15px;
	width: 350px;
	height: 230px;
	padding: 10px 0 0 10px;
	font: bold 1.0em/1.2em Arial, Helvetica, sans-serif;
	float: left;
	text-align: left;
	/*border-right: solid 2px #cfd0ec;
	border-bottom: solid 2px #cfd0ec;*/
}

.pg-tr2 {
	position:absolute;
	
	left: 320px;
	margin: 0 10px 0 30px;
	width: 350px;
	height: 70px;
	text-align: center;
	padding-left: 15px;
	padding-top: 10px;
	font: 1.0em/1.6em Arial, Helvetica, sans-serif;
	/*border-bottom: solid 2px #cfd0ec;*/
	}
 .pg-bl2 li {margin-left: 15px; }

.pg-br2 {
	position:absolute;
	top:90px;
	left: 360px;
	width: 370px;
	height: 150px;
	clear: left;
	border-top: solid 1px #cccccc;
	padding-top: 10px;
	}
.pg-br2 h2, .pg-tr2 h2 {font: bold 1.6em/1.2em Arial, Helvetica, sans-serif;}
.pg-lsg2 {margin-left: 10px; text-align: left;}
.pg-br2 h2, .pg-br2 p {margin-left: 35px; }

/*-----*/

#footer {
	position: relative;
	width: 750px;
	height: 40px;
	bottom: 10px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	display: table;
	}
#footer-main {
	position: relative;
	width: 750px;
	height: 40px;
	top: 10px;
	margin: 0 auto;
	margin-left: 10px;
	padding: 10px 0 0 0;
	text-align: center;
	border-top: 2px solid #66ccff;
	clear: both;
	}
	
.footb  {color:#000000; font: bold 1.0em/1.2em Verdana, Tahoma, Arial; }


/* List Styles */

.dl_list, .dl_list_in {position: relative; list-style-type: none; margin: 0;}
.dl_list2 li  {font-weight:normal !important;}
.dl_list2 li {margin-left: 15px; padding-top: 2px;}
.dl_list li, .dl_list_in    {

padding-left: 30px;
line-height: 1.4em;
}


/*-------iframe mimic-------*/ 
 
#block1 {
 font: 10px/1.1em Verdana, Arial, Helvetica, sans-serif; 
 color: #000000; 
 margin-top: -10px;
 text-align: justify;
 width: 250px;
 height: 150px;
 background: transparent;
 margin-bottom: 10px;
 scrollbar-face-color: 63CF31;
 scrollbar-highlight-color: ffffff;
 scrollbar-3dlight-color: cccc99;
 scrollbar-darkshadow-color: eeefdd;
 scrollbar-shadow-color: eeefdd;
 scrollbar-arrow-color: ffffff;
 scrollbar-track-color: 63CF31;

}
.pad10 {
padding: 0px; 
padding-left: 4px;
}
.overflow {
overflow: auto;
width: 250px;
height: 150px;
}
.padside {
padding-right: 10px;
margin-top: 5px;

}

#wrap {padding: 10px;}
#wrap h1, #wrap2 h1, #boxwrap h1 {font-size:2.0em; padding-top: 15px;}
#wrap h2 {font-size:1.5em;}

/*-----Rounded Boxes---------------------*/

#xsnazzy h1, #xsnazzy h2, #xsnazzy p {margin:0 10px; letter-spacing:1px;}
#xsnazzy h1 {font-size:2.5em; color:#fff;}
#xsnazzy h2 {font-size:2em;color:#06a; border:0;}
#xsnazzy p {padding-bottom:0.5em;}
#xsnazzy h2 {padding-top:0.5em;}
#xsnazzy {background: transparent; margin:1em; width: 450px;}


.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#eeeaea; border-left:1px solid #cfd0ec; border-right:1px solid #08c;}
.xb1 {margin:0 5px; background:#cfd0ec;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xboxcontent {display:block; background:#eeeaea; border:0 solid #cfd0ec; border-width:0 1px; width: 449px;}


/*-----Rounded Boxes2---------------------*/

#xsnazzy2 h1, #xsnazzy2 h2, #xsnazzy2 p, #xsnazzy3 h1, #xsnazzy3 h2, #xsnazzy3 p  {margin:0 10px; letter-spacing:1px;}
#xsnazzy2 h1 {font-size:2.5em; color:#fff;}
#xsnazzy3 h1 {font-size:2.5em; color:#000;}
#xsnazzy2 h2, #xsnazzy3 h2 {font-size:2em;color:#06a; border:0;}
#xsnazzy2 h3 {font-size:1.6em; padding-left: 10px;}
#xsnazzy2 p, #xsnazzy3 p  {padding-bottom:0.5em;}
#xsnazzy2 h2, #xsnazzy3 h2 {padding-top:0.5em;}
#xsnazzy2, #xsnazzy3 {background: transparent; margin:1em; width: 725px;}

.xboxcontent2 {display:block; background:#cecfce; border:0 solid #cfd0ec; border-width:0 1px; width: 723px; }
.xboxcontent3 {display:block; background:#ffffff; border:0 solid #08c; border-width:0 1px;}

span.p2 {margin: 10px 0 0 10px; padding: 6px 0 6px 0;}

/*-----------Product Portal Page----------*/
.dl_list3 li {border-bottom: #CCCCCC 1px dotted; width: 420px; margin-left: 35px; text-align: left; padding-top: 5px;}

/*----Tables----*/
table.hq td {padding-left: 10px;}

/*----How To Buy Page-----------*/
#product2-1 {
	position: relative;
	left: 20px;
	top: 10px;
	width: 360px;
	height: 100px;
	float: left;
	clear: right;
	padding: 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}

	
#product2-2 {
	position: relative;
	left: 20px;
	top: 10px;
	width: 360px;
	height: 100px;
	float:right;
	clear: right;
	padding: 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}
.call {text-align: center; font-weight: bold; padding-top: 30px;}

/*-----------Secondary General Pages----*/
#wrap2 {width: 770px; margin: 0 auto;font: normal 12px Arial, Verdana, Helvetica, sans-serif; padding: 10px;}

#wrap2 ul {padding: 0 0px 10px 20px;}
#wrap2 h1 {font-size: 2.0em; padding-bottom: 10px;}
#wrap2 h2 {font-size: 1.5em; padding-bottom: 10px; padding-top: 10px;}
#wrap2 p, #rightcolumn p {padding-bottom: 10px;}

/*-------Dealer Locator-----*/

#navcontainer {margin-left: 25px;}
span.p2 {margin: 10px 0 0px 10px; padding: 6px 0 10px 0; font-size:14px;}
.navlist li {display: inline; list-style-type: circle; padding-right: 10px;}

/*-----Secondary non-product pages----*/
div#wrap h1, h2, h3 {padding: 10px 0 10px 0;}

/*----LVS Home Page---*/

#product3 {
	position: relative;
	left: 10px;
	top: 10px;
	width: 367px;
	height: 310px;
	float: left;
	padding: 0 0 10px 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}

	
#product4 {
	position: relative;
	left: 10px;
	top: 10px;
	width: 367px;
	height: 310px;
	float: right;
	padding: 0 0 10px 0;
	margin: 0;
		/*border: 1px solid #cccccc;*/
	font: 1.1em/1.2em Arial, Helvetica, sans-serif;
	text-align: center;}
	
#boxwrap {width: 790px; text-align: left;  }
#boxwrap2 {width: 790px; text-align: left; margin: 30px 0 0 0; padding-top: 50px; clear: both; }
.box-sara2 {
	position: relative;
	width: 182px;
	height: 209px;
	background: url(../images/navbox-sara.jpg) no-repeat;
	float: left;
	margin-bottom: 10px;
	margin-left: 8px;
	
	text-align: center;
}
.box-magic2 {
	position: relative;
	float: left;
	width: 182px;
	height: 209px;
	background: url(../images/navbox-magic.jpg) no-repeat;
	text-align: center;
	
}
.box-magic2 h1, .box-sara2 h1,.box-opal2 h1, .box-vision2 h1 {font: bold 2.2em/1.2em Arial, Helvetica, sans-serif; padding: 0;}
.box-opal2 {
	position: relative;
	float: left;
	width: 182px;
	height: 209px;
	background: url(../images/navbox-opal.jpg) no-repeat;
	
	text-align: center;
}
.box-opal2 h2 {font: bold 1.2em Arial, Helvetica, sans-serif; margin-top: 90px;}
.box-vision2 {
	position: relative;
	float:left;
	width: 182px;
	height: 209px;
	background: url(../images/navbox-vision.jpg) no-repeat;

	text-align: center;
}
.box-vision2 h2 {font: bold 1.2em Arial, Helvetica, sans-serif; margin-top: 50px;}

legend  { color: black;}

/*-----PodCast ----*/
.itempubdate {font-style:italic;margin:0px 0px .5em 2em;}

/*-----About Us----*/
.block2 {
	position: relative;
	float: right;
	border-left: solid 6px #0066FF;
	width: 275px;
	padding: 0px 0 45px 15px;
	margin-left: 20px;}
.block2 h2 {font-size: 1.2em;}	


/*---Notes- Download Pages---*/
.blockdl {
	position: relative;
	background-color:#fbe6c1;
	padding: 10px;
	margin-left: 5px;	
		}
.blockdl2 {
	position: relative;
	background-color:#ffefd5;
	padding: 10px;
	margin-left: 5px;	
		}		
.numlist  {margin-left: 40px;padding-left: 20px; }
.numlist li {padding: 5px 0 0 0; }
ol.numlist ul {font-size: 12px;}
ol.numlist li {padding-top: 10px;}
