
@charset "utf-8";

@font-face{
font-family:"PT Sans Narrow";
src:url('/Site_Assets/fonts/ptn57f-webfont.eot');
font-weight:normal;
}
@font-face{
font-family:"PT Sans Narrow";
src:url('/Site_Assets/fonts/PTN57F.ttf');
font-weight:normal;
}


body{
padding:0;
margin:0;
font-family:Arial,Serif;
font-size:16px;
}


input{
border:0;
}


img{
border:0;
}


ul{
margin:0;
padding:0;
list-style-type:none;
}


a{
text-decoration:none;
color:#003a94;
}

a:hover{
text-decoration:underline;
}

a.link{ 
text-decoration:none; 
text-transform:capitalize;
}

a.link:hover{ 
text-decoration:none;
}

.txtTrans{ 
text-transform:lowercase;
}

sup{
font-size:15px;
}
#skip a, #skip a:hover, #skip a:visited { 
position:absolute; 
left:0px; 
top:-500px; 
width:1px; 
height:1px; 
overflow:hidden;
 } 

#skip a:active, #skip a:focus { 
 position:static; 
 width:auto; 
 height:auto; 
 }
 
.bold{
font-weight:bold;
}
.topPad{
padding-top:18px;
}
.alignLeft{
float:left;
}
.alignRight{
float:right;
}
.alignCenter{
margin-left:auto;
margin-right:auto;
}
.hidden {
position: absolute; left: -10000px; 
top: auto;
width:1px;
height:1px;
font-size: 1px;
z-index:-2;
overflow:invisible;
}
.input {
border: 1px solid #006;
background: #ffc;
}
.button {
background: #ffc;
border:1px solid #000000;
border-radius: 25px;
box-shadow: 5px 5px 5px #888888;
-moz-box-shadow: 5px 5px 5px #888888;
-webkit-box-shadow: 5px 5px 5px #888888;
}
 
#pageWrapper{
margin:0 auto;
width:100%;
min-height:500px;
}
#header{
max-width:1040px;
height:105px;
margin:0 auto;
}
#header .logo{
float:left;
padding-top:12px;
}
#header .rightSide{
float:right;
width:451px;
min-height:50px;
}
#header .topLinks{
width:451px;
height:30px;
background:url('/Site_Assets/images/header_right_cont_bg_repeat.jpg') repeat-y;
color:#FFF;
padding:5px 0px 0px 20px;
}
#header .topLinks a{
text-decoration:none;
color:#FFF;
font-size:18px;
font-family:Arial,Serif;
}
#header .searchBox{
clear:both;
margin-top:10px;
}
#header .searchBox input.txtField{
width:315px;
height:24px;
padding:2px 5px 2px 5px;
border:1px solid #000;
}
#header .searchBox input.searchSubmitBtn{
width:32px;
height:30px;
background:url('/Site_Assets/images/search_btn.jpg') no-repeat;
}
#header .rightPadd{ 
padding-right:15px;
}
#header .leftPadd{ 
padding-left:15px;
}
#header .smallLeftPadd{
padding-left:8px;
}

#navigationWrapper{
clear:both;
margin: 0 auto;
min-width:1040px;
height:40px;
background:url('/Site_Assets/images/nav_bg.png') repeat-x;
}
#navigation{
margin:0 auto;
width:1040px;
height:40px;
}
#navigation ul li{
display:block;
float:left;
height:40px;
background:#FFF;
padding:0;
}
#navigation ul li a{
display:block;
float:left;
height:29px;
background:url('/Site_Assets/images/nav_bg.png') repeat-x;
margin:0px 5px 0px 0px;
padding:4px 10px 8px 10px;
color:#FFF;
text-align:center;
font-size:24px;
font-family:"PT Sans Narrow",Arial,Serif;
color:#000;
}
#navigation ul li.firstItem a{
margin:0px 5px 0px 5px;
}
#navigation ul li a:hover{
text-decoration:none;
color:#ffff33;
background:#000;
}
#navigation ul li.selected a{
color:#ffff33;
background:#000;
}

#sliderWrapper{
clear:both;
margin:0 auto;
margin-top:6px;
min-width:1040px;
height:268px;
background:url('/Site_Assets/images/slider_bg.jpg') repeat-x;
}
#sliderContainer{
margin:0 auto;
max-width:1040px;
height:268px;
}

ul#image_rotate {
width:387px;
height:265px;
float: left;
overflow:hidden;
}
ul#image_rotate li{
float: left;
}


#banner div{
width:1044px;
height:265px;
padding-top:4px;
}
#banner .txtCont{
width:376px;
height:228px;
display:block;
float:left;
color:#FFF;
font-size:21px;
padding-top:38px;
font-weight:bold;
text-shadow:#000000 3px 3px 3px;
}
#banner .imageCont1{
width:390px;
height:268px;
display:block;
float:left;
}
#banner .imageCont2{
width:270px;
height:268px;
display:block;
float:left;
margin-left: 4px;
}
#banner .topPadd{
padding-top:5px;
display:block;
}
#banner .bigFnt{
font-size:40px;
font-weight:bold;
line-height:34px;
text-transform:uppercase;
}
#banner .smallTxt{
float:left;
width:115px; 
padding-top:8px; 
min-height:25px;
font-size:22px;
font-weight:bold;
text-shadow:#000000 3px 3px 3px;
color:#FFF;
text-transform:uppercase;
}
#banner .bigFont{
color:#ffff33;
font-size:32px;
font-weight:bold;
}
#banner .smallImage{
float:left; 
padding-top:4px;
}

#featuredNewsWrapper{
margin-top:6px;
min-width:1040px;
height:36px;
background:#cccccc;
}
#featuredNewsWrapper .featuredNews{
margin:0 auto; 
min-width:1040px;
height:36px;
font-size:20px;
padding:5px 0px 0px 0px;
}

#contents{
margin:0 auto;
margin-top:10px;
width:1040px;
min-height:600px;
padding-bottom:25px;
}


#boxContainers{
clear:both;
width:1040px;
height:172px;
margin-bottom:20px;
}
#boxContainers .box{
float:left;
margin-right:5px;
}
#boxContainers .boxLeftEdge{
float:left;
background:url('/Site_Assets/images/box_left_edge.png') no-repeat;
width:25px;
height:172px;
}
#boxContainers .boxCont{
float:left;
background:url('/Site_Assets/images/box_repeat.png') repeat-x;
width:291px;
height:172px;
padding-top:10px;
}
#boxContainers .boxRightEdge{
float:left;
background:url('/Site_Assets/images/box_right_edge.png') no-repeat;
width:25px;
height:172px;
}
#boxContainers .txtCont{
float:left;
width:120px;
min-height:50px;
font-size:25px;
font-weight:bold;
color:#003a94;
padding:70px 0px 0px 5px;
line-height:23px;
}
#boxContainers .txtCont a:hover{
text-decoration:none;
}
#boxContainers .imageCont{
float:right;
width:166px;
min-height:50px;
padding-top:2px;
}

#columnsContainer{
margin-top:15px;
margin: 0 auto;
width:1040px;
min-height:200px;
margin-bottom:10px;
overflow:hidden;
background:url('/Site_Assets/images/cols_bg.jpg') repeat-y;
}
#columnsContainer .column{
width:304px;
min-height:200px;
float:left;
padding:10px 20px 10px 20px;
}
#columnsContainer .headingCont{
clear:both;
}
#columnsContainer .box{
width:300px;
min-height:100px;
padding-bottom:10px;
border-bottom:3px solid #ccc;
margin-top:15px;
}
#columnsContainer .headingCont{
width:300px;
min-height:25px;
overflow:hidden;
}
#columnsContainer .icon{
float:left;
padding-right:8px;
width:50px;
min-height:55px;
display:block;
}
#columnsContainer .heading{
float:left;
width:235px;
line-height:25px;
}
#columnsContainer .heading a{
font-size:27px;
color:#003a94;
text-decoration:none;
font-style:normal;
font-weight:normal;
}
#columnsContainer .heading a:hover{
color:#000;
}
#columnsContainer .txt{
clear:both;
padding-top:0px;
}
#columnsContainer .lastBox{
border:0;
}
#columnsContainer a{
font-style:italic;
font-size:16px;
}
#columnsContainer .container{
display:block;
width:257px; 
min-height:52px; 
background:#e5e5e5; 
font-size:20px; 
padding:6px 4px 6px 10px;
font-style:normal;
color:#000;
}
#columnsContainer .container2{
display:block;
width:257px; 
min-height:10px; 
font-size:15px; 
font-style:italic; 
padding:6px 4px 6px 10px;
font-style:normal;
color:#000;
}
#columnsContainer .topPadd{
margin-top:15px;
}

#TwoColumnContainer{
margin-top:15px;
margin: 0 auto;
width:1040px;
min-height:200px;
margin-bottom:10px;
overflow:hidden;
font-style:normal;
background:url('/Site_Assets/images/products_2col_bg.jpg') repeat-y;
}
#TwoColumnContainer .column{
width:440px;
min-height:200px;
float:left;
padding:10px 20px 10px 20px;
}
#TwoColumnContainer .columnwide{
width:640px;
min-height:200px;
float:left;
padding:10px 20px 10px 20px;
}


#productsColumnsContainer{
margin-top:15px;
margin: 0 auto;
width:1040px;
min-height:200px;
margin-bottom:10px;
overflow:hidden;
font-style:normal;
background:url('/Site_Assets/images/products_col_bg.jpg') repeat-y;
}
#productsColumnsContainer .column{
width:250px;
min-height:200px;
float:left;
padding:10px 20px 10px 20px;
}
#productsColumnsContainer .column2Width{
width:327px;
}
#productsColumnsContainer .column3Width{
width:290px;
}
#productsColumnsContainer ul.products{
margin-left:5px;
}
#productsColumnsContainer ul.products li{
width:245px;
min-height:25px;
border-bottom:2px solid #cccccc;
padding:6px 0px 6px 0px;
}
#productsColumnsContainer ul.products li a{
font-size:21px;
font-style:normal;
font-weight:normal;
line-height:26px;
margin-top: 0; 
margin-bottom: 0; 
padding-top: 0; 
padding-bottom: 0; 
}
#productsColumnsContainer .productCont{
min-height:25px;
overflow:hidden;
border-bottom:2px solid #cccccc;
padding:6px 0px 15px 0px;
margin:0 auto;
}
#productsColumnsContainer .productCont .productImage{ 
padding:5px 0px 10px 0px;
}
#productsColumnsContainer .productCont .productTitle a{ 
font-size:21px; 
color:#003a94;
}
#productsColumnsContainer .productCont .productDescription{ 
font-size:16px; 
padding-top:5px;
}
#productsColumnsContainer .topPadd{
padding-top:25px;
}
#productsColumnsContainer .lastCont{
border:0;
}

#footerWrapper{
margin:0 auto;
min-width:1040px;
height:177px;
background:url('/Site_Assets/images/footer_bg.jpg') repeat-x;
background-position:top center;
}
#footer{
margin:0 auto;
width:1040px;
min-height:50px;
overflow:hidden;
}
#footer ul{
height:40px;
}
#footer ul li{
display:inline;
}
#footer .footerNav{
margin:0 auto;
margin-top:12px;
width: 1040px;
}
#footer ul li a{
display:block;
float:left;
height:29px;
background:#78aadc;
padding:6px 8px 6px 8px;
color:#FFF;
text-align:center;
border-right: 2px solid #fff;
border-left: 2px solid #fff;
font-size:20px;
font-family:Arial,Serif;
color:#000;
}
#footer ul li a:hover{
color:#ffff33;
background:#000;
text-decoration:none;
}
#footer .copyRight{
clear:both;
width:1040px;
height:200px;
min-height:200px;
margin:0 auto;
text-align:center;
color:#FFF;
margin-top:5px;
padding-top:13px;
padding-bottom:13px;
font-size:12px;
}

#navMenu {
margin:0 auto;
width:1040px;
height:40px;
}


.dijitInline {
border: 0 none;
display: inline-block;
padding: 0;
vertical-align: middle;
}

.dijitPopup {
background-color: transparent;
border: 0 none;
margin: 0;
padding: 0;
position: absolute;
}
.dijitBackgroundIframe {
border: 0 none;
height: 100%;
left: 0;
margin: 0;
padding: 0;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}
.dijitMenuItem {
cursor: pointer;
text-align: left;
white-space: nowrap;
margin-left: -4px;
}

.dijitMenuPassive .dijitMenuItem, .dijitMenuActive .dijitMenuItem {
height:29px;
background:url('/Site_Assets/images/nav_bg.png') repeat-x #ffffff;
border-right: 2px solid #fff;
border-left: 2px solid #fff;
padding:6px 8px 6px 8px;
color:#FFF;
text-align: left;
font-size:20px;
font-family:Arial,Serif;
color:#000;
}

.dijitMenuPassive .dijitMenuItemHover, .dijitMenuPassive .dijitMenuItemSelected {
text-decoration:none;
color:#ffff33;
background:#000;
}


.dijitMenuActive .dijitMenuItemHover, .dijitMenuActive .dijitMenuItemSelected {
text-decoration:none;
color:#ffff33;
background:#000;
}

h2.heading {
padding: 0; 
margin: 0;
font-size:27px;
color:#003a94;
text-decoration:none;
font-weight:normal;
}

h3.heading {
padding: 0; 
margin: 0;
font-size:27px;
color:#003a94;
text-decoration:none;
font-weight:normal;
}

.block2 { 
border-left: 6px solid #0066FF;
float: right;
margin-left: 20px;
padding: 0px 0px 45px 15px;
position: relative;
width: 275px;
}
.block3 { 
border-left: 6px solid #0066FF;
float: right;
margin-left: 20px;
padding: 0px 0px 45px 15px;
position: relative;
width: 275px;
}
.title { 
margin-top: 0; 
margin-bottom: 0; 
padding-top: 0; 
padding-bottom: 0; 
font-style:normal;
font-weight:normal;
} 

.disc_list {
list-style-type:disc;
padding:10px 6px 6px 6px;
margin:10px 6px 6px 6px;
}
.blue_background {
background-color: #00f;
margin-top:4px;
margin-bottom:4px;
}
.lsb {
background-color: #87CEFA;
}
.lsb1 {
background-color: #B0E2FF;
    }   
.box_lsb {
background-color: #87CEFA;
padding: 5px;
    }
.box_lsb1 {
background-color: #B0E2FF;
padding: 5px;
}

.P-Container{
width:940px;
}
.P-Intro{
width:500px; 
border-bottom:2px solid #cccccc;
}
.P-Headline{
line-height:110%; 
color:#990000;
}
.P-Quote{
margin-top: 0; 
width:450px; 
font-style: italic; 
text-align:justify;
}
.P-QuoteAuthor{
font-size: 13px; 
font-weight: bold; 
color:#666666;"
}
.P-VideoLinkBox{
height:90; 
vertical-align:middle; 
float:right; 
padding-left:20px;      
}
.P-VideoLinkIcon{
float: left; 
padding-right:10px;
}
.P-FeaturesBox{
width:400px; 
float:left;       
}
.P-RightColumn{
width:400; 
padding-left:450px;    
}
.P-PriceBox{
padding-left:40px;
}
.P-CTA-Box{
height:90px; 
width:700px; 
vertical-align:middle;   
}


#Form_Win_A_RUBY_Background {
margin-top:15px;
margin: 0 auto;
width:839px;
height:712px;
margin-bottom:10px;
overflow:hidden;
font-style:normal;
background:url('/Site_Assets/images/Forms/Win_A_RUBY_form_background_with_words.jpg');
z-index:-1;
}
#Form_Win_A_RUBY_Form {
position: relative; top: 90px; left: 195px; 
margin: 0 auto;
width:350px;
height:730px;
margin-bottom:4px;
overflow:hidden;
font-style:normal;
font-size:14px;
color: #FFFFFF;
}
#Form_Win_A_RUBY_Form input, textarea {
background-color: #ffffcc;
margin-top:3px;
margin-bottom:3px;
}
#Form_Win_A_RUBY_Submit input {
background: #4588bd;
margin-top:3px;
margin-bottom:3px;
color: #FFFFFF;
}
#Form_Win_A_RUBY_Form th {
font-size: 14px;
white-space:nowrap;
margin-top:3px;
float:right;
color: #FFFFFF;
}
#Form_Win_A_RUBY_Fill_Out_Text {
position: relative; top: 105px; left: 400px; 
width:200px;
height:100px;
font-size: 24px;
text-align: center;
overflow:invisible;
z-index:-2;
}

#Form_Low_Vision_Guide_Background {
margin-left: auto;
margin-right: auto;
margin-top:15px;
margin-bottom:10px;
margin: 0 auto;
width:846px;
height:743px;
overflow:hidden;
font-style:normal;
background:url('/Site_Assets/images/Forms/Free_Low_Vision_Guide_form_background_with_words.jpg');
}
#Form_Low_Vision_Guide_Form {
position: relative; top: 190px; left: 200px; 
margin: 0 auto;
width:350px;
height:470px;
margin-bottom:10px;
overflow:hidden;
font-style:normal;
color: #000000;
}
#Form_Low_Vision_Guide_Form input, select {
background: #ffffcc;
margin-top:4px;
}
#Form_Low_Vision_Guide_Submit input {
background: #4588bd;
margin-top:4px;
margin-bottom:4px;
}
#Form_Low_Vision_Guide_Form label {
font-size: 15px;
white-space:nowrap;
margin-top:12px;
float:right;
}
#Form_Low_Vision_Guide_Form table {
background: #FFFFFF;
}

#Form_Contact_FS {
border-spacing:0;
border-collapse:collapse;
}
#Form_Contact_FS input, textarea {
background: #ffffcc;
margin-top:4px;
margin-bottom:4px;
}
#Form_Contact_FS table {
background: #4588bd;
padding: 10px;
margin: 20px;
}
#Form_Contact_FS th {
text-align: right;
vertical-align: top;
width: 150px;
color: #FFFFFF;
}
#Form_Contact_FS td {
text-align: left;
vertical-align: top;
color: #FFFFFF;
}
#Form_Contact_FS fieldset {
border: none;
}
#Form_Contact_FS_Submit input {
background: #4588bd;
margin-top:3px;
margin-bottom:3px;
}
#Form_Contact_FS_0 {
border-spacing:0;
border-collapse:collapse;
-moz-border-radius: 15px;
border-radius: 15px;
margin: 10px;
}
#Form_Contact_FS_0 input, textarea, select {
background: #FFFFFF;
margin-top:4px;
margin-bottom:4px;
padding: 3px;
border: solid 1px #999999;
}
#Form_Contact_FS_0 input:focus, textarea:focus, select:focus {
border: solid 1px #990000;
}
#Form_Contact_FS_0 table {
background: #DDF0FC;
padding: 10px;
margin: 20px;
}
#Form_Contact_FS_0 th {
text-align: right;
vertical-align: middle;
width: 150px;
color: #000000;
}
#Form_Contact_FS_0 td {
text-align: left;
vertical-align: middle;
color: #000000;
}
#Form_Contact_FS_0 fieldset {
border: none;
}
#Form_Contact_FS_Submit_0 input {
border: none;
padding: 0px;
}
