<!DOCTYPE html>
<!-- Begin first 2 include files for page display style -->
<!-- End first 2 include files -->
<html class="dj_gecko dj_contentbox" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="author" content="Freedom Scientific">

<title>RealSpeak Solo Direct Voices for Freedom Scientific Products</title>
<!-- Begin last include file -->

<link href="RealSpeak%20Download%20Voices_files/style.css" rel="stylesheet" type="text/css" media="screen">

<!-- End last include files -->
<link rel="stylesheet" type="text/css" href="RealSpeak%20Download%20Voices_files/jquery_hover.css" media="screen">
<link rel="stylesheet" type="text/css" href="RealSpeak%20Download%20Voices_files/print.css" media="print">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/>
<![endif]-->
<script src="RealSpeak%20Download%20Voices_files/ga.js" async="" type="text/javascript"></script><script language="javascript" type="text/javascript" src="RealSpeak%20Download%20Voices_files/jquery-1.js"></script>
<script language="javascript" type="text/javascript" src="RealSpeak%20Download%20Voices_files/hover_script.js"></script>
<script language="javascript" type="text/javascript" src="RealSpeak%20Download%20Voices_files/jquery-latest.js"></script>
<script language="javascript" type="text/javascript" src="RealSpeak%20Download%20Voices_files/jquery.js"></script>
<script language="javascript" type="text/javascript">
$(document).ready(function() { 
	$('#image_rotate').innerfade({ 
		speed: 'slow', 
		timeout: 5000 , 
		type: 'sequence', 
		containerheight: '268px'
	});
});
</script>
    <!-- load Dojo -->
    <script src="RealSpeak%20Download%20Voices_files/dojo.js" data-dojo-config="parseOnLoad: true"></script>
<script type="text/javascript">
  dojo.require("dijit.MenuBar");
  dojo.require("dijit.PopupMenuBarItem");
  dojo.require("dijit.DropDownMenu");
  dojo.require("dijit.MenuItem");
</script>
<style type="text/css">
<!--
.style1 {color: #666666}
.style3 {color: #FFFFFF}
.style4 {color: #CCCCCC}
-->
</style>
<script type="text/javascript">

	function TurnOnMenuDisplay()
	{
		document.getElementById("Home").style.visibility = "visible";
		document.getElementById("LowVision").style.visibility = "visible";
		document.getElementById("Blindness").style.visibility = "visible";
		document.getElementById("LSG").style.visibility = "visible";
		document.getElementById("Shop").style.visibility = "visible";
		document.getElementById("Demo").style.visibility = "visible";
		document.getElementById("TechnicalSupport").style.visibility = "visible";
		document.getElementById("Manuals").style.visibility = "visible";
		document.getElementById("Training").style.visibility = "visible";
		document.getElementById("ProductActivation").style.visibility = "visible";
		document.getElementById("DealerLocator").style.visibility = "visible";
		document.getElementById("LowVisionFacts").style.visibility = "visible";
		document.getElementById("About").style.visibility = "visible";
	}

	function DelayMenuVisibility()
	{
		setTimeout("TurnOnMenuDisplay()", 50);
		document.getElementById("navigationWrapper").focus();
	}
</script>


<!-- Begin include file for analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20581121-1']);
  _gaq.push(['_setDomainName', 'freedomscientific.com']);
  _gaq.push(['_trackPageview']);

   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End include file for analytics -->
<link href="RealSpeak%20Download%20Voices_files/training.css" rel="stylesheet" type="text/css" media="screen"><link rel="alternate" type="application/rss+xml" title="Freedom Scientific - Training Headquarters" href="http://www.freedomscientific.com/RSS/Training/rss.xml"></head>



<body>

<!-- Page Wrapper Start Here -->
<div id="pageWrapper">
	<!-- Page Header Start Here -->
	<noscript>This page uses Javascript. Your browser either doesn't support Javascript or you have it turned off. To see this page as it is meant to appear please use a Javascript enabled browser.</noscript>
	<div id="header">
		<div class="logo">
			<a href="http://www.freedomscientific.com/default.asp"><img src="RealSpeak%20Download%20Voices_files/logo.png" alt="Freedom Scientific" title="Freedom Scientific"></a>
			</div> <!-- End Div logo -->
		<div class="rightSide">
			<div class="topLinks">
				<!--span class="rightPadd"--><span class="hidden"><a href="#skip">Skip to Main Content</a></span><!--/span--><!--img src="/images/vline.gif" alt="" /--><span class="leftPadd"><a href="http://www.freedomscientific.com/tools/change-style.asp">Change Page for Low Vision</a></span>
				</div>	<!-- End Div topLinks -->
			<div class="searchBox">
				<form action="http://search.freedomscientific.com/search" id="sitesearch" title="Search"><div class="alignLeft"></div>
					<div class="alignLeft"><input name="q" class="txtField" value="search..." id="searchquery" onfocus="this.value=''" type="text"><label for="searchquery" class="hidden">Search</label></div>
					<div class="alignLeft smallLeftPadd"><input class="searchSubmitBtn" alt="Search" value="" title="Go" name="btnG" aria-label="Search" type="submit"></div>
					<input name="sort" value="date%3AD%3AL%3Ad1" type="hidden">
					<input name="output" value="xml_no_dtd" type="hidden">
					<input name="oe" value="UTF-8" type="hidden">
					<input name="ie" value="UTF-8" type="hidden">
					<input name="client" value="default_frontend" type="hidden">
					<input name="proxystylesheet" value="FRESCI" type="hidden">
					<input name="site" value="default_collection" type="hidden">
					<input name="filter" value="0" type="hidden">
					</form> <!-- End form sitesearch -->
				</div> <!-- End Div searchBox -->
			</div> <!-- End Div rightSide -->
		</div> <!-- End Div header -->
	<!-- Page Header End Here -->
	<!-- Navigation Wrapper Start Here -->
	<div id="navigationWrapper" role="navigation">
		<div widgetid="navMenu" id="navMenu" class="dijitMenuBar dijitMenuPassive" data-dojo-attach-point="containerNode" role="menubar" tabindex="0" data-dojo-attach-event="onkeypress: _onKeyPress">
			<div widgetid="Home" id="Home" title="Freedom Scientific home" style="-moz-user-select: none; border-left: 2px solid rgb(255, 255, 255); visibility: visible;" aria-labelledby="Home_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="Home_text" data-dojo-attach-point="containerNode">Home</span>
</div>
			<div aria-haspopup="true" widgetid="Products_Menu_Bar" id="Products_Menu_Bar" style="-moz-user-select: none;" aria-labelledby="Products_Menu_Bar_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="Products_Menu_Bar_text" data-dojo-attach-point="containerNode">Products <img src="RealSpeak%20Download%20Voices_files/webmenu-down-arrow.gif" alt="" height="14"></span>
</div>
			<div widgetid="Shop" id="Shop" style="-moz-user-select: none; visibility: visible;" aria-labelledby="Shop_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="Shop_text" data-dojo-attach-point="containerNode">Shop</span>
</div>
			<div widgetid="Demo" id="Demo" style="-moz-user-select: none; visibility: visible;" aria-labelledby="Demo_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="Demo_text" data-dojo-attach-point="containerNode">FREE Product Demos</span>
</div>
			<div aria-haspopup="true" widgetid="dijit_PopupMenuBarItem_0" id="dijit_PopupMenuBarItem_0" style="-moz-user-select: none;" aria-labelledby="dijit_PopupMenuBarItem_0_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="dijit_PopupMenuBarItem_0_text" data-dojo-attach-point="containerNode">Support <img src="RealSpeak%20Download%20Voices_files/webmenu-down-arrow.gif" alt="" height="14"></span>
</div>
			<div widgetid="DealerLocator" id="DealerLocator" style="-moz-user-select: none; visibility: visible;" aria-labelledby="DealerLocator_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="DealerLocator_text" data-dojo-attach-point="containerNode">Dealer Locator</span>
</div>
			<div widgetid="LowVisionFacts" id="LowVisionFacts" style="-moz-user-select: none; visibility: visible;" aria-labelledby="LowVisionFacts_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="LowVisionFacts_text" data-dojo-attach-point="containerNode">Low Vision Facts</span>
</div>
			<div widgetid="About" id="About" style="-moz-user-select: none; visibility: visible;" aria-labelledby="About_text" class="dijitReset dijitInline dijitMenuItem dijitMenuItemLabel" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<span id="About_text" data-dojo-attach-point="containerNode">About</span>
</div>
			</div> <!-- End Div navMenu -->
		</div> <!-- End Div navigationWrapper -->
		<noscript></noscript>
	<a name="skip" id="skip"></a>
	<!-- Navigation Wrapper End Here -->
	<script type="text/javascript">DelayMenuVisibility()</script>

    
	<!-- Added ARIA Role-->
	<div role="main">
		<!-- Page Contents Start Here -->
		<div id="contents">
<!-- keep all above for new page, rip out contents up to closing div for "contents" -->
<!-- content from include file of new page (single page) here -->

<h1>RealSpeak Solo Direct Voices for Freedom Scientific Products</h1>

<p>Use this page to download one or more Nuance® RealSpeak™ Solo Direct 
voices that work exclusively with 32-bit and 64-bit versions of JAWS 10 
or later, MAGic 11 or later,  OpenBook 9 or later, and WYNN 6 or later. 
These voices are available at no charge and will also work with demo 
versions of JAWS, MAGic, OpenBook, and WYNN that support the RealSpeak 
Solo Direct synthesizer.</p>

<p>Choose any Sample link below to hear a brief demonstration of that voice. If you are a JAWS user, press <strong>H</strong> to move to the English level 2 heading below, and then press <strong>TAB</strong> to move to the different voice samples. If you like the voice and you want to use it, press <strong>DOWN ARROW</strong> to move to the Download link, and then press <strong>ENTER</strong>.
 The installation will begin, the voice files will be placed in the 
proper location on your computer, and the voice will be configured for 
use with your Freedom Scientific product.</p>

<p>Please check back periodically for updates since languages are 
frequently added to this page. Note that Nuance RealSpeak Solo SAPI 5 
and Direct Driver voices do not support pitch change like Eloquence and 
some other hardware and software synthesizers.</p>

<div class="blockdl">
<p><strong>Note:</strong> An MP3 file plays when you select a Sample 
link. It may take a moment for your media player to launch the file. If 
using Firefox, you may need to download a plug-in for your default media
 player. If your media player does not open in a separate window, press <strong>ALT+LEFT ARROW</strong> or the Back button to return to this page.</p>
</div>

<!--Begin English language section-->

<h2>English</h2>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Australia.jpg" alt="Australian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Australian English</h3></td>
</tr>
</tbody></table>

<a name="#Karen"></a>
<h4 style="padding-left:48px">Karen </h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Karen-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Karen. Sample voice" align="top" border="0"></a></p>

<!--<p style="padding-left:48px"><a href="Audio/Karen-sample.mp3"><img src="../../images/samples/Karen-sample.jpg" border="0" align="middle" alt="Karen. Sample voice"></a></p>-->

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ena-Karen-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Karen. Download voice" align="middle" border="0"></a> &nbsp; 115 MB</p>

<a name="#Lee"></a>
<h4 style="padding-left:48px">Lee</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Lee-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Lee. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ena-Lee-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Lee. Download voice" align="middle" border="0"></a> &nbsp; 89.3 MB</p>
	
<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/UK.jpg" alt="British flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>British English</h3></td>
</tr>
</tbody></table>

<a name="#Daniel"></a>
<h4 style="padding-left:48px">Daniel</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Daniel-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Daniel. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-eng-Daniel-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Daniel. Download voice" align="middle" border="0"></a> &nbsp; 104 MB</p>
	
<a name="#Emily"></a>	
<h4 style="padding-left:48px">Emily </h4><p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Emily-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Emily. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-eng-Emily-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Emily. Download voice" align="middle" border="0"></a> &nbsp; 90 MB</p>	
		
<a name="#Serena"></a>
<h4 style="padding-left:48px">Serena</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Serena-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Serena. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-eng-Serena-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Serena. Download voice" align="middle" border="0"></a> &nbsp; 59.7 MB</p>	

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/India.jpg" alt="Indian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Indian English</h3></td>
</tr>
</tbody></table>

<a name="#Sangeeta"></a>
<h4 style="padding-left:48px">Sangeeta</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Sangeeta-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Sangeeta. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-eni-Sangeeta-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Sangeeta. Download voice" align="middle" border="0"></a> &nbsp; 103 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/US.jpg" alt="United States flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>United States English</h3></td>
</tr>
</tbody></table>

<a name="#Jennifer"></a>
<h4 style="padding-left:48px">Jennifer</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Jennifer-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Jennifer. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-enu-Jennifer-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Jennifer. Download voice" align="middle" border="0"></a> &nbsp; 51.5 MB</p>

<a name="#Jill"></a>
<h4 style="padding-left:48px">Jill</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Jill-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Jill. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-enu-Jill-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Jill. Download voice" align="middle" border="0"></a> &nbsp; 82.1 MB</p>

<a name="#Samantha"></a>
<h4 style="padding-left:48px">Samantha</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Samantha-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Samantha. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-enu-Samantha-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Samantha. Download voice" align="middle" border="0"></a> &nbsp; 116 MB</p>

<a name="#Tom"></a>
<h4 style="padding-left:48px">Tom</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Tom-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Tom. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-enu-Tom-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Tom. Download voice" align="middle" border="0"></a> &nbsp; 80.6 MB</p>

<!--End English language section-->

<!--Begin Spanish language section-->


<h2>Spanish</h2>
<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Spain.jpg" alt="Spanish flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Castilian</h3></td>
</tr>
</tbody></table>

<a name="#Diego"></a>
<h4 style="padding-left:48px">Diego</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Diego-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Diego. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-spe-Diego-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Diego. Download voice" align="middle" border="0"></a> &nbsp; 63 MB</p>

<a name="#Isabel"></a>
<h4 style="padding-left:48px">Isabel</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Isabel-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Isabel. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-spe-Isabel-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Isabel. Download voice" align="middle" border="0"></a> &nbsp; 59.4 MB</p>

<a name="#Monica"></a>
<h4 style="padding-left:48px">Monica</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Monica-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Monica. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-spe-Monica-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Monica. Download voice" align="middle" border="0"></a> &nbsp; 107 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/LatinAmerica.jpg" alt="Latin America map" align="absmiddle" border="0" hspace="6">
<!--<img src="../../images/flags/Mexico.jpg" border="0" align="absmiddle" hspace="6" alt="Mexican flag">--></td>
<td><h3>Latin American</h3></td>
</tr>
</tbody></table>

<a name="#Javier"></a>
<h4 style="padding-left:48px">Javier</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Javier-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Javier. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-spm-Javier-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Javier. Download voice" align="middle" border="0"></a> &nbsp; 75.2 MB</p>

<a name="#Paulina"></a>
<h4 style="padding-left:48px">Paulina</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Paulina-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Paulina. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-spm-Paulina-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Paulina. Download voice" align="middle" border="0"></a> &nbsp; 79.5 MB</p>

<!--End Spanish language section-->

<!--Begin French language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/France.jpg" alt="French flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>French</h2></td>
</tr>
</tbody></table>

<a name="#Sebastien"></a>
<h4 style="padding-left:48px">Sebastien</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Sebastien-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Sebastien. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-frf-Sebastien-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Sebastien. Download voice" align="middle" border="0"></a> &nbsp; 91.9 MB</p>

<a name="#Virginie"></a>
<h4 style="padding-left:48px">Virginie</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Virginie-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Virginie. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-frf-Virginie-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Virginie. Download voice" align="middle" border="0"></a> &nbsp; 77.3 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Canada.jpg" alt="Canadian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>French Canadian</h3></td>
</tr>
</tbody></table>

<a name="#Felix"></a>
<h4 style="padding-left:48px">Felix</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Felix-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Felix. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-frc-Felix-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Felix. Download voice" align="middle" border="0"></a> &nbsp; 89.5 MB</p>

<a name="#Julie"></a>
<h4 style="padding-left:48px">Julie</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Julie-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Julie. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-frc-Julie-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Julie. Download voice" align="middle" border="0"></a> &nbsp; 59.4 MB</p>

<!--End French language section-->

<!--Begin Basque language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Basque.jpg" alt="Basque flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Basque</h2></td>
</tr>
</tbody></table>

<a name="#Arantxa"></a>
<h4 style="padding-left:48px">Arantxa</h4>
<!--<p style="padding-left:48px"><img src="../../images/SAMPLE-button.gif" border="0" align="top" alt="Arantxa. Sample voice not available"></p>-->

<!--<p style="padding-left:48px"><a href="Audio/Arantxa-sample.mp3"><img src="../../images/samples/Arantxa-sample.jpg" border="0" align="middle" alt="Arantxa. Sample voice not available"></a></p>-->

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-bae-Arantxa-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Arantxa. Download voice" align="middle" border="0"></a> &nbsp; 85.3 MB<br>
</p>

<!--End Basque language section-->

<!--Begin Catalan language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Catalan.jpg" alt="Catalan flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Catalan</h2></td>
</tr>
</tbody></table>

<a name="#Nuria"></a>
<h4 style="padding-left:48px">Nuria</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Nuria-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Nuria. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-cae-Nuria-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Nuria. Download voice" align="middle" border="0"></a> &nbsp; 113 MB</p>
<p style="padding-left:48px">This voice works with JAWS 10.0.1139 and later.</p>

<!--End Catalan language section-->

<!--Begin Chinese language section-->

<h2>Chinese</h2>
<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/China.jpg" alt="Chinese flag" align="absmiddle" border="0" hspace="6"><img src="RealSpeak%20Download%20Voices_files/HK.jpg" alt="Hong Kong flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Cantonese</h3></td>
</tr>
</tbody></table>

<a name="#Sin-Ji"></a>
<h4 style="padding-left:48px">Sin-Ji</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Sin-Ji-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Sin-Ji. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-cah-Sin-Ji-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Sin-Ji. Download voice" align="middle" border="0"></a> &nbsp; 92.7 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/China.jpg" alt="Chinese flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Mandarin</h3></td>
</tr>
</tbody></table>

<a name="#Mei-Ling"></a>
<h4 style="padding-left:48px">Mei-Ling</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Mei-Ling-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Mei-Ling. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-mnc-Mei-Ling-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Mei-Ling. Download voice" align="middle" border="0"></a> &nbsp; 53.7 MB</p>

<!--End Chinese language section-->

<!--Begin Czech language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/CzechRepublic.jpg" alt="Czech Republic flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Czech</h2></td>
</tr>
</tbody></table>

<a name="#Zuzana"></a>
<h4 style="padding-left:48px">Zuzana</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Zuzana-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Zuzana. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-czc-Zuzana-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Zuzana. Download voice" align="middle" border="0"></a> &nbsp; 96.7 MB</p>

<!--End Czech language section-->


<!--Begin Danish language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Denmark.jpg" alt="Danish flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Danish</h2></td>
</tr>
</tbody></table>

<a name="#Ida"></a>
<h4 style="padding-left:48px">Ida</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Ida-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Ida. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-dad-Ida-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Ida. Download voice" align="middle" border="0"></a> &nbsp; 71.9 MB</p>

<a name="#Nanna"></a>
<h4 style="padding-left:48px">Nanna</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Nanna-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Nanna. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-dad-Nanna-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Nanna. Download voice" align="middle" border="0"></a> &nbsp; 53.8 MB</p>

<!--End Danish language section-->

<!--Begin Dutch language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Netherlands.jpg" alt="Dutch flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Dutch</h2></td>
</tr>
</tbody></table>

<a name="#Claire"></a>
<h4 style="padding-left:48px">Claire</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Claire-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Claire. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-dun-Claire-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Claire. Download voice" align="middle" border="0"></a> &nbsp; 136 MB</p>

<a name="#Laura"></a>
<h4 style="padding-left:48px">Laura</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Laura-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Laura. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-dun-Laura-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Laura. Download voice" align="middle" border="0"></a> &nbsp; 60.4 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Belgium.jpg" alt="Belgian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Belgian Dutch</h3></td>
</tr>
</tbody></table>

<a name="#Ellen"></a>
<h4 style="padding-left:48px">Ellen</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Ellen-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Ellen. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-dub-Ellen-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Ellen. Download voice" align="middle" border="0"></a> &nbsp; 44.7 MB</p>

<!--End Dutch language section-->

<!--Begin German language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Germany.jpg" alt="German flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>German</h2></td>
</tr>
</tbody></table>

<a name="#Steffi"></a>
<h4 style="padding-left:48px">Steffi</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Steffi-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Steffi. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ged-Steffi-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Steffi. Download voice" align="middle" border="0"></a> &nbsp; 60.9 MB</p>

<a name="#Yannick"></a>
<h4 style="padding-left:48px">Yannick</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Yannick-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Yannick. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ged-Yannick-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Yannick. Download voice" align="middle" border="0"></a> &nbsp; 109 MB</p>

<!--End German language section-->

<!--Begin Greek language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Greece.jpg" alt="Greek flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Greek</h2></td>
</tr>
</tbody></table>

<a name="#Alexandros"></a>
<h4 style="padding-left:48px">Alexandros</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Alexandros-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Alexandros. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-grg-Alexandros-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Alexandros. Download voice" align="middle" border="0"></a> &nbsp; 57.8 MB</p>

<!--End Greek language section-->

<!--Begin Hindi language section-->

<!--<table>
<tr>
<td><img src="../../images/flags/India.jpg" border="0" align="absmiddle" hspace="6" alt="Indian flag"></td>
<td><H2>Hindi</H2></td>
</tr>
</table>-->

<!--<a name="#Lekha"></a>-->
<!--<p style="padding-left:48px"><a href="Audio/Lekha-sample.mp3"><img src="../../images/samples/Lehka-sample.jpg" border="0" align="middle" alt="Lehka. Sample voice"></a></p>-->

<!--<p style="padding-left:48px"><img src="../../images/DOWNLOAD-button.gif" border="0" align="middle" alt="Lekha. Download not available at this time"></a> 00 MB</p>-->

<!--End Hindi language section-->

<!--Begin Icelandic language section-->

<!--<table>
<tr>
<td><img src="../../images/flags/Iceland.jpg" border="0" align="absmiddle" hspace="6" alt="Icelandic flag"></td>
<td><H2>Icelandic</H2></td>
</tr>
</table>-->

<!--<a name="#Ragga"></a>-->
<!--<p style="padding-left:48px"><a href="Audio/Ragga-sample.mp3"><img src="../../images/samples/Ragga-sample.jpg" border="0" align="middle" alt="Ragga. Sample voice"></a></p>-->

<!--<p style="padding-left:48px"><img src="../../images/DOWNLOAD-button.gif" border="0" align="middle" alt="Ragga. Download not available at this time"></a> 00 MB</p>-->
<!--End Icelandic language section-->

<!--Begin Italian language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Italy.jpg" alt="Italian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Italian</h2></td>
</tr>
</tbody></table>

<a name="#Paolo"></a>
<h4 style="padding-left:48px">Paolo</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Paolo-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Paolo. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-iti-Paolo-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Paolo. Download voice" align="middle" border="0"></a> &nbsp; 101 MB</p>

<a name="#Silvia"></a>
<h4 style="padding-left:48px">Silvia</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Silvia-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Silvia. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-iti-Silvia-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Silvia. Download voice" align="middle" border="0"></a> &nbsp; 94.3 MB</p>

<!--End Italian language section-->

<!--Begin Japanese language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Japan.jpg" alt="Japanese flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Japanese</h2></td>
</tr>
</tbody></table>

<a name="#Kyoko"></a>
<h4 style="padding-left:48px">Kyoko</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Kyoko-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Kyoko. Sample voice" align="top" border="0"></a></p>

		<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-jpj-Kyoko-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Kyoko. Download voice" align="middle" border="0"></a> &nbsp; 70.4 MB</p>
		<p style="padding-left:48px">If you intend to use <a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/RealSpeak-Solo-Direct-Kyoko-Install.asp">Kyoko on a Windows XP system</a>, refer to the Kyoko set up procedure.</p>

<!--End Japanese language section-->

<!--Begin Korean language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/SouthKorea.jpg" alt="South Korean flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Korean</h2></td>
</tr>
</tbody></table>

<a name="#Narae"></a>
<h4 style="padding-left:48px">Narae</h4>
<!--<p style="padding-left:48px"><img src="../../images/SAMPLE-button.gif" border="0" align="top" alt="Narae. Sample voice not available"></p>-->

<!--<p style="padding-left:48px"><a href="Audio/Narae-sample.mp3"><img src="../../images/samples/Narae-sample.jpg" border="0" align="middle" alt="Narae. Sample voice not available"></a></p>-->

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-kok-Narae-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Narae. Download voice" align="middle" border="0"></a> &nbsp; 82.3 MB</p>

<!--End Korean language section-->

<!--Begin Norwegian language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Norway.jpg" alt="Norwegian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Norwegian</h2></td>
</tr>
</tbody></table>

<a name="#Nora"></a>
<h4 style="padding-left:48px">Nora</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Nora-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Nora. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-non-Nora-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Nora. Download voice" align="middle" border="0"></a> &nbsp; 57 MB</p>

<a name="#Stine"></a>
<h4 style="padding-left:48px">Stine</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Stine-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Stine. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-non-Stine-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Stine. Download voice" align="middle" border="0"></a> &nbsp; 84.6 MB</p>

<!--End Norwegian language section-->

<!--Begin Polish language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Poland.jpg" alt="Polish flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Polish</h2></td>
</tr>
</tbody></table>

<a name="#Agata"></a>
<h4 style="padding-left:48px">Agata</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Agata-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Agata. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-plp-Agata-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Agata. Download voice" align="middle" border="0"></a> &nbsp; 53.2 MB</p>

<!--End Polish language section-->

<!--Begin Portuguese language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Portugal.jpg" alt="Portuguese flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Portuguese</h2></td>
</tr>
</tbody></table>

<a name="#Madalena"></a>
<h4 style="padding-left:48px">Madalena</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Madalena-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Madalena. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ptp-Madalena-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Madalena. Download voice" align="middle" border="0"></a> &nbsp; 45.6 MB</p>

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Brazil.jpg" alt="Brazilian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h3>Brazilian</h3></td>
</tr>
</tbody></table>

<a name="#Raquel"></a>
<h4 style="padding-left:48px">Raquel</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Raquel-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Raquel. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-ptb-Raquel-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Raquel. Download voice" align="middle" border="0"></a> &nbsp; 45.3 MB</p>

<!--End Portuguese language section-->

<!--Begin Russian language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Russia.jpg" alt="Russian flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Russian</h2></td>
</tr>
</tbody></table>

<a name="#Katerina"></a>
<h4 style="padding-left:48px">Katerina</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Katerina-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Katerina. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-rur-Katerina-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Katerina. Download voice" align="middle" border="0"></a> &nbsp; 53.5 MB</p>

<!--End Russian language section-->

<!--Begin Swedish language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Sweden.jpg" alt="Swedish flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Swedish</h2></td>
</tr>
</tbody></table>

<a name="#Alva"></a>
<h4 style="padding-left:48px">Alva</h4>
<p style="padding-left:48px"><a href="http://www.freedomscientific.com/downloads/RealSpeak-Solo-Direct-Voices/Audio/Alva-sample.mp3"><img src="RealSpeak%20Download%20Voices_files/SAMPLE-button.gif" alt="Alva. Sample voice" align="top" border="0"></a></p>

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-sws-Alva-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Alva. Download voice" align="middle" border="0"></a> &nbsp; 127 MB</p>

<!--<a name="#Ingrid"></a>
<p style="padding-left:48px"><a href="Audio/Ingrid-sample.mp3"><img src="../../images/samples/Ingrid-sample.jpg" border="0" align="middle" alt="Ingrid. Sample voice"></a></p>

<!--<p style="padding-left:48px"><img src="../../images/DOWNLOAD-button.gif" border="0" align="middle" alt="Ingrid. Download not available at this time"></a> 00 MB</p>-->

<!--End Swedish language section-->

<!--Begin Turkish language section-->

<table>
<tbody><tr>
<td><img src="RealSpeak%20Download%20Voices_files/Turkey.jpg" alt="Turkish flag" align="absmiddle" border="0" hspace="6"></td>
<td><h2>Turkish</h2></td>
</tr>
</tbody></table>

<a name="#Aylin"></a>
<h4 style="padding-left:48px">Aylin</h4>
<!--<p style="padding-left:48px"><img src="../../images/SAMPLE-button.gif" border="0" align="top" alt="Aylin. Sample voice not available"></p>-->

<!--<p style="padding-left:48px"><a href="Audio/Aylin-sample.mp3"><img src="../../images/samples/Aylin-sample.jpg" border="0" align="middle" alt="Aylin. Sample voice not available"></a></p>-->

<p style="padding-left:48px"><a href="ftp://ftp.freedomscientific.com/users/hj/private/WebFiles/RSD/1.0/RSD1.0.84.101-trt-Aylin-enu.exe"><img src="RealSpeak%20Download%20Voices_files/DOWNLOAD-button.gif" alt="Aylin. Download voice" align="middle" border="0"></a> &nbsp; 64.6 MB</p>

<!--End Turkish language section-->


<!-- end content from include file of new (single page) here -->
		</div> <!-- End of content div -->
	</div> <!-- End of ARIA region -->

	<!-- Footer Wrapper Start Here -->
	<div id="footerWrapper">
		<div id="footer">
		<!-- Footer Navigation Start Here -->
			<div class="footerNav">
			<ul>
			
				<li><a href="http://www.freedomscientific.com/forms/Launch/Dealer_Locator.asp">Dealer Locator</a></li>
				<li><a href="http://www.freedomscientific.com/support/support-documentation.asp">Documentation</a></li>
				<li><a href="http://www.freedomscientific.com/downloads/index.asp">Downloads</a></li>
				<li><a href="http://www.freedomscientific.com/support.asp">Support</a></li>
				<li><a href="http://www.freedomscientific.com/training.asp">Training</a></li>
				<li><a href="http://www.freedomscientific.com/about/GSA-Advantage.asp">GSA Advantage</a></li>
				<li><a href="http://www.freedomscientific.com/about/media-center-portal.asp">Media</a></li>
				<!--<li><a href="/about/careers.asp">Careers</a></li>-->
				<li><a href="http://www.freedomscientific.com/privacy.asp">Privacy</a></li> 
				<li><a href="http://www.freedomscientific.com/contact.asp">Contact</a></li>
			</ul>
			</div>
		<!-- Footer Navigation End Here -->
		<div class="copyRight">© 2013 Freedom Scientific, Inc. All rights reserved. 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font size="3"><strong>For more information about our products, call 1-800-444-4443</strong></font> 

</div>
		</div> <!-- End Div footer -->
	</div> <!-- End Div footerWrapper -->
	<!-- Footer Wrapper End Here -->
</div> <!-- pageWrapper End Here -->

<table style="display: none;" widgetid="products" id="products" class="dijit dijitMenu dijitMenuPassive dijitReset dijitMenuTable" role="menu" tabindex="0" data-dojo-attach-event="onkeypress:_onKeyPress" cellspacing="0">
	<tbody class="dijitReset" data-dojo-attach-point="containerNode">
					<tr widgetid="LowVision" id="LowVision" style="-moz-user-select: none; visibility: visible;" aria-labelledby="LowVision_text LowVision_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="LowVision_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Low Vision Products</td>
	<td id="LowVision_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					<tr widgetid="Blindness" id="Blindness" style="-moz-user-select: none; visibility: visible;" aria-labelledby="Blindness_text Blindness_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="Blindness_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Blindness Products</td>
	<td id="Blindness_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					<tr widgetid="LSG" id="LSG" style="-moz-user-select: none; visibility: visible;" aria-labelledby="LSG_text LSG_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="LSG_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Learning Systems Products</td>
	<td id="LSG_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					</tbody>
</table><table style="display: none;" widgetid="support" id="support" class="dijit dijitMenu dijitMenuPassive dijitReset dijitMenuTable" role="menu" tabindex="0" data-dojo-attach-event="onkeypress:_onKeyPress" cellspacing="0">
	<tbody class="dijitReset" data-dojo-attach-point="containerNode">
					<tr widgetid="TechnicalSupport" id="TechnicalSupport" style="-moz-user-select: none; visibility: visible;" aria-labelledby="TechnicalSupport_text TechnicalSupport_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="TechnicalSupport_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Technical Support</td>
	<td id="TechnicalSupport_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					<tr widgetid="Manuals" id="Manuals" style="-moz-user-select: none; visibility: visible;" aria-labelledby="Manuals_text Manuals_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="Manuals_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Manuals</td>
	<td id="Manuals_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					<tr widgetid="Training" id="Training" style="-moz-user-select: none; visibility: visible;" aria-labelledby="Training_text Training_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="Training_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Training</td>
	<td id="Training_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					<tr widgetid="ProductActivation" id="ProductActivation" style="-moz-user-select: none; visibility: visible;" aria-labelledby="ProductActivation_text ProductActivation_accel" class="dijitReset dijitMenuItem" data-dojo-attach-point="focusNode" role="menuitem" tabindex="-1">
	<td class="dijitReset dijitMenuItemIconCell" role="presentation">
		<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitIcon dijitMenuItemIcon dijitNoIcon" data-dojo-attach-point="iconNode">
	</td>
	<td id="ProductActivation_text" class="dijitReset dijitMenuItemLabel" colspan="2" data-dojo-attach-point="containerNode">Product Activation</td>
	<td id="ProductActivation_accel" class="dijitReset dijitMenuItemAccelKey" style="display: none" data-dojo-attach-point="accelKeyNode"></td>
	<td class="dijitReset dijitMenuArrowCell" role="presentation">
		<div data-dojo-attach-point="arrowWrapper" style="visibility: hidden">
			<img src="RealSpeak%20Download%20Voices_files/blank.gif" alt="" class="dijitMenuExpand">
			<span class="dijitMenuExpandA11y">+</span>
		</div>
	</td>
</tr>
					</tbody>
</table></body></html>